{% extends "base.html" %}

<html lang="en">
    <head>
        {% block title %}{{ title }}{% endblock %}

        {% block css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/reveal.min.css" integrity="sha512-zu0eodDPCBAZf1vnIgwZ6qchMBt1xqgGkS9vBjVmunoH8pU7cc9OQKBiSQCclpvqySupy9Y1pLZc87VB40G4Sw==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/theme/league.min.css" integrity="sha512-AI3aXE9pwvZel0AhCQeQ4PdSe6IhGo4kXBgUBDlF5i/qhY+UDHh5vLWxegQzDaqusD/LgL23KoFISl4qklKXjw==" crossorigin="anonymous" />
        {% endblock %}

        {% block js %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.min.js" integrity="sha512-GoORoNnxst42zE3rYPj4bNBm0Q6ZRXKNH2D9nEmNvVF/z24ywVnijAWVi/09iBiVDQVf3UlZHpzhAJIdd9BXqw==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/reveal.min.js" integrity="sha512-Xu/cezKABTI81MGnaBm64vdiS7XkttHeYGOgr2Mdga0bTplSBGongLq2lhK2HwL79wefKM0u4uTCLD0ha1sRzQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/plugin/markdown/markdown.min.js" integrity="sha512-eZZqO4ECmVvGhCt+6VZ7ian2bCu4S6yrjSFH9fXLY1zTokpAWsxAxQwM4x6+7G+G4ha5tFIe0jY0XjpBUqS49Q==" crossorigin="anonymous"></script>
        {% endblock %}
    </head>

{% block content %}
    <div class="row w-100 h-75">
        <div class="col border" id="editor">{{ text }}</div>

        <div class="col-sm-1 border" id="control">
            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                    <input type="text" class="form-control form-control-sm" id="{{ form.title.id_for_label }}"
                        name="{{ form.title.html_name }}" value="{{ form.title.value|default_if_none:'' }}">
                </div>
                <div class="form-group">
                    <input type="hidden" id="{{ form.text.id_for_label }}"
                        name="{{ form.text.html_name }}" value="{{ form.text.value|default_if_none:'' }}">
                </div>

                <input type="submit" value="Save" class="btn btn-primary btn-sm" onclick="updateTextField()">
            </form>

            <input type="submit" value="Redraw" class="btn btn-primary btn-sm" onclick="updateSlides()">
        </div>

        <div class="col border" id="viewer">
            <div class="reveal">
                <div class="slides">
                    <section data-markdown data-separator-vertical="^===" data-separator="^---">
                        <textarea data-template>{{ text }}</textarea>
                    </section>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    function updateTextField() {
        var el = document.getElementById("id_text");
        el.value = editor.getValue();
    }

    function updateSlides() {
        var el = document.getElementsByClassName("slides");
        el[0].innerHTML = '<section data-markdown data-markdown data-separator-vertical="^===" data-separator="^---"><textarea data-template>'+editor.getValue()+'</textarea></section>';

        Reveal.getPlugin('markdown').processSlides(document);
        Reveal.getPlugin('markdown').convertSlides();
        Reveal.sync();

        <!--TODO: Toggling twice to set the present/future classes on slides-->
        Reveal.toggleOverview();
        Reveal.toggleOverview();
    }

    var editor = ace.edit(
        "editor", {
        mode: "ace/mode/markdown"
    });

    Reveal.initialize({
        embedded: true,
        controls: true,
        plugins: [ RevealMarkdown ]
    });
{% endblock %}
</html>
