{% load static %}

<html lang="en">
    <head>
        <title>{{ title }}</title>

        <link rel="stylesheet" href="{% static 'reveal.css' %}">
        <link rel="stylesheet" href="{% static 'league.css' %}">

        <script src="{% static 'markdown.js' %}"></script>
        <script src="{% static 'reveal.js' %}"></script>
    </head>

<div class="reveal">
    <div class="slides">
        <section data-markdown data-separator-vertical="^===" data-separator="^---">
            <textarea data-template>{{ text }}</textarea>
        </section>
    </div>
</div>

<script>
    Reveal.initialize({
        plugins: [ RevealMarkdown ],
        controls: true,
    });
</script>
</html>
